::-webkit-scrollbar {
  width: .60rem;
  background-color: #B388FF;
}

::-webkit-scrollbar-thumb {
  background-color: #D1C4E9;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #EDE7F6;
}